.primary-nav {
  padding-top: 10px;

  @include atMedium {
    padding-top: 0;
  }
  &--pull-right {
    @include atMedium {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    @include clearfix;
  }

  li {
    list-style: none;
    display: inline-block;
    padding-right: 7px;

    @include atMedium {
      float: left;
      display: block;
      padding-right: 20px;
    }
  }

  li:last-child {
    padding-right: 0;

    @include atMedium {
      padding-right: 20px;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    padding: 5px 8px;
    font-size: 0.9rem;
    background-color: rgba($color: $mainBlue, $alpha: 0.6);

    @include atMedium {
      padding: 12px 0;
      font-size: 1rem;
      background-color: transparent;
    }
  }
}
